body {
  background-color: #3da2e0;
}
div {
  size: 100px;
  background-color: white;
  width: 620px;
  border-radius: 10px;
  margin: 44px 0px 0px 360px;
}
.name {
  padding: 40px 118px 10px 13px;
  border-width: 0 0 1px;
  outline-width:0 ;
}
.password {
  padding: 40px 120px 10px 13px;
  border-width: 0 0 1px;
  outline-width: 0;
}
.login {
  padding: 2px 1px 0px 0px;
  margin: 40px 0px 120px 0px;
  background-color: #ec3d67;
  width: 313px;
  border-radius: 34px;
  height: 46px;
  border: 0px;
  color: white;
  cursor: pointer;
}
.brand_logo {
  margin: 132px 0px 0px 255px;
}
.password_logo {
  margin: 30px 0px 0px 1px;
}
.form {
  margin: 0px 0px 0px 165px;
}
